@media (max-width: 767px) {
  header {
    min-height: 450px;
    .top-header-block {
      padding-top: 40px;
      .logo {
        margin: 0 auto;
      }
      .nav {
        position: relative;
        min-height: 40px;
        z-index: 100;
        ul {
          width: 250px;
          position: absolute;
          top: 0;
          left: 50%;
          margin-left: -124px;
          border: solid 1px transparent;
          &:hover {
            border: solid 1px #000;
            background-image: none;
            background: rgba(53, 39, 61, 0.9);
            box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
            border-radius: 5px;
          }
          &:hover li {
            display: block;
          }
          li {
            display: none;
            margin: 0;
            a {
              display: block;
              text-align: center;
              padding: 7px 12px;
            }
          }
          .current {
            display: block;
            a {
              background: none;
            }
          }
        }
      }
    }
  }
  .slider {
    max-height: 245px;
    margin-top: 15px;
    .slider-content {
      padding: 0;
      margin: 50px auto 70px;
      .lorem-ipsum {
        font-size: 2.25rem;
        text-align: center;
      }
      .title {
        font-size: $fs-title;
        text-align: center;
      }
      .info {
        display: none;
      }
    }
  }
  .block-partners {
    max-height: 300px;
    .partners {
      ul {
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }
  .footer {
    .menu-footer {
      ul {
        max-width: 455px;
        margin: 0 auto;
        li {
          padding-right: 20px;
        }
      }
    }
  }
  .copyright {
    max-width: 130px;
    margin: 10px auto;
  }
}